[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pytest = "*"
asyncpg = "*"
click = "*"

[dev-packages]
flit = "*"
pytest = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.7"
